<p>
    <strong>Id code:</strong>
    <%= @person.id_code %>
</p>

<p>
    <strong>Source:</strong>
    <%= @person.source %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
