<% unless @parameters.empty? %>
    <h1></h1>
    <table cellpadding="2" cellspacing="0" border="0" class="pretty">
        <thead>
        <tr>
            <% @parameters.keys.each do |each_key| %>
                <th><%= each_key %></th>
            <% end %>
        </tr>
        </thead>
        <tbody>
        <tr>
            <% @parameters.values.each do |each_value| %>
                <td><%= each_value%1==0 ? each_value.to_i : each_value %></td>
            <% end %>
        </tr>
        </tbody>
    </table>
    <br>
<% end %>