<span class="headerTitleLarge">MIT Lincoln Laboratory</span>
<span class="headerTitleNext">Sherlock's Toolkit</span>
<span class="headerTitleSub">&nbsp; System version 1.8.700</span>
<br>
<%= image_tag('forensics_logo.png', alt: 'Forensics Database', width: 200, height: 62) %>