<h1>Primers
    <%= " for #{Panel.find(params[:panel_id]).description}" if params[:panel_id] && Panel.exists?(params[:panel_id]) %>
</h1>

<table class="display dataTable" cellspacing="0" width="100%">

    <thead>
    <tr>
        <th>Locus Name</th>
        <th>Forward Primer?</th>
        <th>Sequence</th>
    </tr>
    </thead>

    <tbody>
    <% @primers.each do |primer| %>
        <tr>
            <td><%= @loci_hash[primer.locus_id].name if primer.locus_id %></td>
            <td><%= primer.is_forward %></td>
            <td><%= primer.sequence %></td>
        </tr>
    <% end %>
    </tbody>
</table>

<br>